button.root {

    border: none;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    background-color: #F4F4F4;
    cursor: pointer;

    &:active {

        background-color: #BCBCBC;
    }

    &:disabled {

        background-color: #ffffff;
        border: 1px solid #DCDCDC;
        color:#B4B4B4;
        cursor: default;
    }
}