.root {

    
    line-height: 28px;

    .city-name {

        text-align: center;
        font-style: italic;
    }
    
    .icon-wrapper {

        text-align: center;
    }

    h1 {

        display: inline;
    }
}